html, body {
    height: 100%;
    margin: 0;
}

body {
    display:flex;
    flex-direction: column;
}

header {
    background: #ddd;
    padding: 20px;
}

main {
    flex: 1;
    padding: 20px;

}

footer {
    background: #ccc;
    padding: 20px;
}
#table {
    padding: 20px;
    margin-left: 25%;
}